@{
    ViewBag.Title = "Xác nhận quên mật khẩu";
    Layout = "~/Views/Shared/_LayoutForgotPasswordConfirmation.cshtml";
}

<div class="login-container">

            <h2>Thành Công</h2>
            <p>Vui lòng kiểm tra Email</p>

</div>


