@{
    ViewBag.Title = "Thông báo reset thành công";
    Layout = "~/Views/Shared/_LayoutResetPasswordConfirmation.cshtml";
}

<div class="login-container">
    <div class="login-card">
        <div class="login-header">
            <div class="neu-icon">
                <div class="icon-inner">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                        <circle cx="12" cy="7" r="4" />
                    </svg>
                </div>
            </div>
            <h2>Thành Công</h2>
            <p>
                Mật khẩu của bạn đã được đặt lại. Vui Lòng @Html.ActionLink("Chọn vào đây để đăng nhập ngay", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>

     
    </div>
</div>










@*<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Your password has been reset. Vui Lòng @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</main>*@
