@model IEnumerable<DISANVANHOA.Models.EF.Historicalrelics>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <!-- Slide 1 -->

        <div class="owl-item product_slider_item">
            <div class="product-item @item.Alias">
                <div class="product discount">
                    <div class="product_image">
                        <img src="@item.Image" alt="@item.Title" width="221" height="221">
                    </div>
                    <div class="favorite favorite_left"></div>
                    @*<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>*@
                    <div class="product_info">
                        <h6 class="product_name"><a href="chi-tiet-lich-su/@item.Alias-d@(item.Id)">@item.Title</a></h6>
                        @*<div class="product_price">$520.00<span>$590.00</span></div>*@
                    </div>
                </div>
            </div>
        </div>
    }

}


